/*
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Oxygen', sans-serif;
*/

body {
  background-color: #AFCEF1;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
}

p {
  font-family: 'Oxygen', sans-serif;
}
