/*
font-family: 'Cutive Mono', monospace;
*/

body {
  font-family: 'Cutive Mono', monospace;
  margin-bottom: 75px;
  margin-top: 75px;
}

.error {
  color: red
}

/* logo text: */
/*.header-text {
  font-family: 'Cutive Mono', monospace;
}*/
