/*
font-family: 'Space Mono', monospace;
font-family: 'Work Sans', sans-serif;
*/

body {
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 75px;
  margin-top: 75px;
}

.header-text {
  font-family: 'Space Mono', sans-serif;
}
